{{template "reVtop" .Title}}
  <body>
    <div class="hori_animax_line_cont">
      <div class="hori_animax_line">
      </div>
    </div>
    <div class="space_line_cont">
    </div>
    {{template "reVmaterial" .First_Name}}
    <div class="syamp-space"></div>
    <div class="syamp-window-constraction">
      <div class="left-card">
        <header class="card-heading">
          <div class="card-heading-text">
            Apps Dashbored
          </div>
        </header>
        <a href="/home">
          <div class="card-action-text-2">
            Running
          </div>
        </a>
        <a href="/all">
          <div class="card-action-text">
            All Apps
          </div>
        </a>
      </div>
      <div class="right-card">
        <header class="card-heading">
          <div class="card-heading-text-2">
            Installed Apps
          </div>
        </header>
        <div class="running-cont">
          <div class="start-app-card">
            <img src="reVres/icons/webserver.png" alt="webserver" class="app-icon"/>
            <div class="card-action-text-5">
              Fileserver
            </div>
            <div class="card-body-cont">
              <button type="button"class="kalibu-button">Start</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="reVres/js/syamp.js"></script>
    <script type="text/javascript" src="reVres/js/menu.js"></script>
  </body>
{{template "reVbot"}}
